body{
    background-color: pink;
    font-family: Skia Light;
}
h1 ,h2 ,abbr{
    text-align: center;
}
h1{
    color: hotpink;
    font-family: Skia Bold;
    font-size: 3.8em;
    text-align: center;
}
h2{
    color: plum;
    font-family: Skia ;
    font-size: 3em;
    text-align: center;
}
p{
    color: black;
}
h3{
    background-color: palevioletred;
}

abbr{
    color: aliceblue;
    font-family: Skia Light;
    font-size: 1em;
}

.intro{
    font-size: 1.2em;
    font-family: 'Baskervville', serif;
    color: white;
    box-align: center;
}

div.summary{
    color: aliceblue;
    font-family: Skia Light;
}
div.preamble{
    color: aliceblue;
    font-family: Skia Light;
    border: 1.5px solid hotpink;
}

div.supporting{
    font-family: Skia Light;
    color: aliceblue;
    border: 1.5px solid lightcoral;
}

div.explanation{
    color: aliceblue;
    font-family: Skia Light;
}

h3.select{
    color: aliceblue;
    font-family: Skia Light;
}
li{
    color: cadetblue;
}
a.design-name{
    color: cadetblue;
}

a.designer-name{
    color: cornflowerblue;
}
h3.archives{
    color: aliceblue;
}
div.design-archives{
    color: cadetblue;
}
div.zen-resources{
    color: aliceblue;
}

